body {
    margin: 40px auto; 
    max-width: clamp(0px, 90vw ,1000px); 
    line-height: 1.6; 
    font-size: clamp(0.5rem, 1.2rem, 3rem); 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    color: #ffffff; 
    padding: 0 10px;
    height: max-content;
    overflow-x: hidden;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: cornflowerblue;
}

h1,h2,h3 {
    line-height: 1.2;
}

.footer {
    text-align: center;
    max-width: clamp(0px, 80vw ,1000px);
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-self: flex-start;
    flex: auto;
}

.tab{
    width: 130px;
}

.disabled{
    color: rgb(57, 57, 57);
}

.disabled:hover{
    transform: scale(1.2);
    transition: all 50ms;
}

.hidden{
    display: none;
}

.disabled:hover{
    color: rgb(57, 57, 57);
}

.subtitle {
    color: rgb(186, 186, 186);
}

/*Stickers*/
.stickers{
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -100;
    width: 1920;
    height: 1080;
}

.dinoSticker{
    transform: scale(0.2) rotate(-20deg) translate(-200px, 900px);
}