@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff00; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #a3a3a3;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
}

body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Lexend Deca';
    font-weight: 100;
    padding: 0;
    margin:  0;

    max-width: 100%;
    overflow-x: hidden;
}

.youtube_trailer {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: -50%; /* confuse it i guess */ 
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

.youtube_trailer:hover {
    width: 588px; /* you have to have a size or this method doesn't work */
    height: 330px; /* think about making these max-width instead - might give you some more responsiveness */
}

a{
    text-decoration: none;
    color: #ffffff;
    transition: all 1s;
}

.homebutton{
    position: fixed;
    margin-top: -24%;
    margin-left: 5%;
}

.links{
    margin-top: 10%;
    margin-left: 42.5%;
    place-items: center;
    align-content: center;
}

.navlink{
    font-size: 20px;
}

.linkhover:hover{
    text-decoration: underline;
}

.siteHeader_title{
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 0%;
    place-items: center;
    align-content: center;
    font-size: 60px;
}

.siteHeader_image{
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 0%;
    place-items: center;
    align-content: center;
    width: 30%;
    height: auto;
    transition: all 1s;
}

.siteHeader_image:hover{
    width: 40%;
    height: auto;
}

.siteHeader_title:hover{
    font-size: 70px;
}

.siteHeader_lable:hover{
    font-size: 30px;
}

.siteHeader_lable{
    margin-top: 0%;
    margin-left: 10%;
    margin-bottom: 0%;
    place-items: center;
    align-content: center;
    font-size: 20px;
}

.siteShowcase{
    margin-top: 25%;
    margin-left: 50%;
    margin-bottom: 0%;
    place-items: center;
    align-content: center;
    font-size: 20px;
}

.header{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden_left{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden_right{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden_top{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-100%);
    transition: all 1s;
}

.hidden_bottom{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}