body {
    font-size: clamp(1rem, 1.2rem, 3rem);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #ffffff; 
    margin: 0px;
}

.main-content {
    margin: 40px auto;
    line-height: 1.6; 
    padding: 0 10px;
    height: max-content;
    overflow-x: hidden;
}

@media (orientation: landscape)
{
    .main-content{
        max-width: clamp(0px, 90vw ,1500px); 
    }

    .hamburger{
        display: none;
    }
}

@media (orientation: portrait)
{
    .stickers
    {
        display: none;
    }

    body{
        font-size: calc(1rem + 2vw);
    }

    .main-content{
        max-width: 90vw; 
    }

    .hamburger{
        width: 10vw;
        height: 10vw;
    }
}


a:link {
    color: cornflowerblue;
}

a:visited {
    color: cornflowerblue;
}

h1,h2,h3 {
    line-height: 1.2;
}

h3>a { text-decoration: none; }

.footer {
    text-align: center;
    align-items: center;
    max-width: auto;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-self: flex-start;
    flex: auto;
}

@media (orientation: landscape){
    .contactLink{
        width: 180px;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #202020;
    overflow: hidden;
    width: 100%;
}

.tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    flex: auto;
    max-width: fit-content;
    align-items: center;
}

@media (orientation: portrait)
{
    .tabs{
    display: none;
    }

    .contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-self: flex-start;
    flex: auto;
    }
    
}

.tab{
    width: 200px;
}

.disabled{
    color: rgb(57, 57, 57);
}

.disabled:hover{
    transform: scale(1.2);
    transition: all 50ms;
    color: rgb(57, 57, 57);
    cursor: pointer;
}

.hidden{
    display: none;
}

.subtitle {
    color: rgb(186, 186, 186);
}